{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="offer-detail-page mx-4" 
style="margin-top: 150px;">

  <div class="container mt-5">
    <div class="row">
      {% for category in categories %}
      <div class="col-lg-3 mb-4">
        <div class="category-card mb-3 d-flex flex-column">
          {% if category.image %}
          <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <hr style="border-top: 1px solid #00008b; margin: 10px 0;">
            <p class="card-text"> {{ category.description|truncatechars_html:150|safe }}</p>
          </div>
          <div class="text-center mb-4">
            <a href="{% url 'category_detail' category.slug %}" class="btn btn-custom">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="spacer" style="margin-bottom: 30px"></div>

{% endblock %}

