{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card counter-card">
                <div class="card-body">
                    <h1 class="card-title" id="yearsCounter" 
                    style="color: #00008b; font-size: 120px; text-align: center">
                        1
                    </h1>
                    <p class="card-text"
                    style="color: #00008b; font-size: 35px; text-align: center">
                        Years of Experience
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card counter-card">
                <div class="card-body">
                    <h1 class="card-title" id="clientsCounter" 
                    style="color: #00008b; font-size: 120px; text-align: center">
                        1
                    </h1>
                    <p class="card-text" 
                    style="color: #00008b; font-size: 35px; text-align: center">
                        Happy Customers
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card counter-card">
                <div class="card-body">
                    <h1 class="card-title" id="projectsCounter"
                    style="color: #00008b; font-size: 120px; text-align: center">
                        1
                    </h1>
                    <p class="card-text" 
                    style="color: #00008b; font-size: 35px; text-align: center">
                        Completed Projects
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}