{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="spacer" style="margin-bottom: 150px"></div>

  <div class="container mt-5">
    <h4 class="block-solutions text-center" style="color: black;">
        Team
    </h4>
    <div class="row">
      {% for worker in workers %}
        <div class="col-md-3 mb-4">
          <div class="worker-card mb-3 d-flex flex-column">
            {% if worker.photo_image %}
              <img src="{{ worker.photo_image.url }}" class="card-img-top" alt="{{ worker.name }} {{ worker.second_name }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ worker.name }} {{ worker.second_name }}</h5>
              <p class="card-text"><strong>Department:</strong> {{ worker.department }}</p>
              {% if worker.phone_number %}
                <p class="card-text"><strong>Phone:</strong> {{ worker.phone_number }}</p>
              {% endif %}
              {% if worker.email %}
                <p class="card-text"><strong>Email:</strong> {{ worker.email }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
